<div class="row" *ngIf="!creado">


  <div class="col-lg-5 col-md-5 col-sm-5">

    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Fondos disponibles</p>
              <p class="card-title">$ {{ fondosDisponibles }}
              <p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-7">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-2 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="numbers">
              <p class="card-category">Cheques disponibles</p>
              <p class="card-title">{{ chequesDisponibles }}

              <p>
            </div>
          </div>
          <div class="col-1 col-md-1">





          </div>
          <div class="col-4 col-md-4">

            <button type="submit" class="btn btn-danger btn-round"  (click)="crear = true;" *ngIf="!crear">Usar cheque</button>
            <button type="submit" class="btn btn-danger btn-round"  (click)="crear = false;" *ngIf="crear">Ver cheques</button>



          </div>
        </div>
      </div>

    </div>
  </div>


</div>

<div class="row"  *ngIf="!crear && !creado">


  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Cheques Usados</h4>
      </div>
      <div class="card-body">
        <app-cheques-detalle></app-cheques-detalle>

      </div>
    </div>
  </div>

</div>


<div class="row"  *ngIf="crear && !creado">

  <div class="col-md-12">
    <div class="card card-user">


      <div class="card-body">
        <div class="row">


          <div class="col-md-6">
            <h3 class="card-title">Bancolombia</h3>
          </div>
          <div class="col-md-6">
            <h6 class="card-title float-right">Cheque No. 56878786  {{ idCheque }}</h6>
          </div>
        </div>
        <form [formGroup]="frmCheque" (ngSubmit)="onCrearCheque()">
          <div class="row">
            <div class="col-md-12 pr-1">

              <div class="form-group">
                <div class="row">

                  <div class="col-md-6">
                    <label>Paguese a:</label>
                  </div>

                </div>
                <input
                  class="form-control"
                  formControlName="portador"
                  [ngClass]="{ 'is-invalid': submited && f.portador.errors }"
                  type="text"
                  placeholder="Escribe aquí el nombre del beneficiario"
                />
                <div *ngIf="submited && f.portador.errors" class="invalid-feedback">
                  <div *ngIf="f.portador.errors.required">Nombre del beneficiario es requerido</div>
                </div>

              </div>
            </div>

            <div class="col-md-12 pr-1">

              <div class="form-group">
                <div class="row">

                  <div class="col-md-7">
                    <label>La suma de:</label>

                <input
                  class="form-control"
                  formControlName="suma"
                  [ngClass]="{ 'is-invalid': submited && f.suma.errors }"
                  type="text"
                  placeholder="Escribe aquí la suma total "
                />
                <div *ngIf="submited && f.suma.errors" class="invalid-feedback">
                  <div *ngIf="f.suma.errors.required">valor requerido</div>

                </div>
                  </div>

                  <div class="col-md-5">
                    <label>Valor en numeros:</label>

                    <input
                      class="form-control"
                      formControlName="valor"
                      [ngClass]="{ 'is-invalid': submited && f.valor.errors }"
                      type="number"
                      placeholder="Escribe aquí la suma en numeros"
                    />
                    <div *ngIf="submited && f.valor.errors" class="invalid-feedback">
                      <div *ngIf="f.valor.errors.required">valor requerido</div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Lugar</label>
                <input
                  class="form-control"
                  formControlName="lugar"
                  [ngClass]="{ 'is-invalid': submited && f.lugar.errors }"
                  type="text"
                  placeholder="Escribe aquí el lugar"
                />
                <div *ngIf="submited && f.lugar.errors" class="invalid-feedback">
                  <div *ngIf="f.lugar.errors.required">Lugar es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Tipo de cheque:</label>
                <select
                  formControlName="tipo"
                  class="form-control input-login"
                  [ngClass]="{ 'is-invalid': submited && f.tipo.errors }"
                >
                  <option value="">Elige una opción</option>
                  <option [value]="item" *ngFor="let item of optCheque">{{
                    item
                    }}</option>
                </select>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-danger btn-round">Transferir cheque</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="row"  *ngIf="creado">


  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Transacción exitosa</h3>
      </div>
      <div class="card-body">
       <h5> El cheque <b>No. 56878786</b> fue librado con <b>Laura Martinez Castro </b> como beneficiaria, el dia <b>2 de octubre de 2020</b>, con Monica Paola Bayona Latorre como libradora, y con un valor de <b>dos millones de pesos</b> en Bogota D.C, y con fecha de vencimiento del <b>2 de abril de 2021</b>.</h5>
        <h6 class="text-center">El token de la transacción fue <b>00009877bndn8997nbgbg9876</b></h6>
      </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button  class="btn btn-danger btn-round" (click)="regresar()" >Regresar</button>
        </div>
      </div>
    </div>
  </div>

</div>
