<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido</h1>
          <p class="text-lead text-light">Ingresa a tu cuenta. Si no tienes cuenta, puedes crearla!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">

  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card card-user">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center ">
            <h3 class="card-title"> Iniciar Sesión</h3>

          </div>
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password">
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-danger " routerLinkActive="active" [routerLink]="['/dashboard']">

                  Iniciar Sesión


                </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">


      </div>
    </div>
  </div>
</div>
